<section class="col-sm-10 mx-auto border border-primary p-2">
    <h4>Contacts</h4>

    <app-msg-box *ngIf="!contacts && !errMsg" type="info">
        <img src="assets/pw.gif" />
    </app-msg-box>

    <app-msg-box *ngIf="errMsg" type="error">
        {{errMsg}}
    </app-msg-box>

    <ng-container *ngIf="contacts && contacts.length===0 then noContactsMsg; else contactsTable">
    </ng-container>

    <ng-template #noContactsMsg>
        <app-msg-box type="info">
            No Contacts To display
        </app-msg-box>
    </ng-template>

    <ng-template #contactsTable>
        <table class="table table-hovered table-border table-striped">
            <thead>
                <tr>
                    <th>Contact#</th>
                    <th>Full Name</th>
                    <th>Mobile</th>
                    <th>Mail Id</th>
                    <th>Date Of Birth</th>
                    <th>Group</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let c of contacts">
                    <td>{{c.id}}</td>
                    <td>{{c.fullName}}</td>
                    <td>{{c.mobile}}</td>
                    <td>{{c.mailId}}</td>
                    <td>{{c.group}}</td>
                    <td>{{c.dateOfBirth|date:'dd-MMM-yyyy'}}</td>
                    <td>
                        <a [routerLink]="['/editContact',c.id]" class="btn btn-sm btn-primary me-1">EDIT</a>
                        <button class="btn btn-sm btn-danger" (click)="del(c.id)">DELETE</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-template>
</section>